<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Mercader" connectionString="Data Source=.;Initial Catalog=Mercader;Integrated Security=True;User Id=Mercaderu;Password=mercaderup;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="BDMaster" connectionString="Data Source=.;Initial Catalog=Master;Integrated Security=True;User Id=Mercaderu;Password=mercaderup"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
